@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.orderContainer::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.header-banner {
  background-image: url("/src/assets/bannerbackground.png");
  height: 600px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  background-image: url("src/assets/bannerbackground.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.lexend {
  font-family: "Lexend", sans-serif;
}
.bg-primary {
  background: #4d4dff;
}
.bg-primary-dark {
  background: #3655b3;
}
.text-primary {
  color: #4d4dff;
}
.border-primary {
  border: 1px solid #4d4dff;
}

/* Glassmorphism card effect */
.glass {
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

/* SWAL */
.swal2-popup {
  font-size: 0.7rem !important;
  /* background: #3655b3 !important; */
  /* color: aliceblue !important; */
}

.filepond--root {
  min-height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: auto;
}
.filepond--panel {
  background: #000;
}

.filepond--item {
  width: calc(50% - 0.5em);
}
